@import "../runo/runo.scss";

@mixin mytheme {
  @include runo;

  /* An actual theme rule */
  .v-table tr.v-selected {
    background: #57a7ed;
    color: #0404B4;
  }

  .v-table-cell-content-passed {
    background: #9FF781;
  }

  .v-table-cell-content-passed_sometimes {
    background: #D8F781;
  }

  .v-table-cell-content-failed {
    background: #F78181;
  }

  .v-table-cell-content-not_run {
    background: #CED8F6;
  }

    .v-table-cell-content-online_big {
      background: #B4F4AE;
	  font-size: 23px;
	  height: 40;
    }

    .v-table-cell-content-offline_big {
         background: #FF695C;
    	 font-size: 23px;
     	 height: 40;
    }

 .resource-online {
	background: #B4F4AE;
	font-size: 21px;
	height: 40;
}

.resource-offline {
	background: #FF695C;
	font-size: 21px;
	height: 40;
}

 .resource-online_little {
	background: #B4F4AE;
	font-size: 15px;
}

.resource-offline_little {
	background: #FF695C;
	font-size: 15px;
}

 .resource-online td, .mytheme .resource-online th {
	padding: 3px;
	border: 0;
}

.resource-online td {
	border-bottom: 2px dotted #000000;
}

.resource-offline td, .mytheme .resource-online th {
	padding: 3px;
	border: 0;
}

.resource-offline td {
	border-bottom: 2px dotted #000000;
}
}
