<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <tx:annotation-driven proxy-target-class="true"
                          transaction-manager="transactionManager"/>
    <bean id="embedded-server" class="ru.yamoney.test.testtools2.common.EmbeddedServer" init-method="init">
        <constructor-arg value="20"/>
        <property name="port" value="8080"/>
        <property name="webXml" value="src/main/webapp"/>
    </bean>

    <bean id="datasource" class="org.postgresql.jdbc3.Jdbc3PoolingDataSource">
        <property name="serverName" value="127.0.0.1"/>
        <property name="databaseName" value="testresults"/>
        <property name="portNumber" value="5432"/>
        <property name="user" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="datasource"/>
    </bean>

    <bean id="daoContainer" class="ru.yamoney.test.testtools2.common.DaoContainer">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="testManager" class="ru.yamoney.test.testtools2.testmanager.TestManager">
        <constructor-arg ref="daoContainer"/>
    </bean>

    <bean id="publisher" class="ru.yamoney.test.testtools2.publisher.PublisherDaemon" init-method="init"
          scope="singleton">
        <constructor-arg value="10"/>
        <property name="daoContainer" ref="daoContainer"/>
    </bean>

    <bean id="investigator" class="ru.yamoney.test.testtools2.investigator.InvestigatorDaemon" init-method="init"
          scope="singleton">
        <constructor-arg value="10"/>
        <property name="daoContainer" ref="daoContainer"/>
    </bean>

    <bean id="testStand" class="ru.yamoney.test.testtools2.teststand.TestStand" scope="singleton">
        <constructor-arg ref="daoContainer"/>
    </bean>

    <bean id="testStandUpdater" class="ru.yamoney.test.testtools2.teststand.TestStandUpdaterDaemon" init-method="init"
          scope="singleton">
        <property name="count" value="5"/>
        <property name="testStand" ref="testStand"/>
    </bean>

    <bean id="postponedChecker" class="ru.yamoney.test.testtools2.postponecheck.PostponedCheckDaemon" init-method="init"
          scope="singleton">
        <constructor-arg value="10"/>
        <property name="daoContainer" ref="daoContainer"/>
    </bean>

    <bean id="userManager" class="ru.yamoney.test.testtools2.user_cashe.UserManager" scope="singleton">
        <constructor-arg ref="daoContainer"/>
    </bean>

</beans>