<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <listener>
        <listener-class>ru.yamoney.test.testtools2.common.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>ru.yamoney.test.testtools2.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainUI</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin application</description>
            <param-name>UI</param-name>
            <param-value>ru.yamoney.test.testtools2.vaadin.MainUI</param-value>
            <name>widgetset</name>
            <value>com.vaadin.DefaultWidgetSet</value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainUI</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InformerUI</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin application</description>
            <param-name>UI</param-name>
            <param-value>ru.yamoney.test.testtools2.vaadin.informer_ui.InformerUI</param-value>
            <name>widgetset</name>
            <value>com.vaadin.DefaultWidgetSet</value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InformerUI</servlet-name>
        <url-pattern>/informer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>ru.yamoney.test.testtools2.info.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InfoJsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>InfoJsp</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

</web-app>